@import './../../styles/theme/theme.scss';

.Navbar {
  grid-column: 1/2;
  //TODO: This important is awful
  margin: auto 2em auto 2em !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-icon {
  width: 35px;
}
