//Pure colours:
$dark-blue1: #22222c;
$dark-blue2: #606875;
$white: #ffffff;
$accent-aqua: #00d7c2;
$accent-pink: #f00772;
$accent-yellow: #e7d622;

//Type colour settings:
$nav: $white;
$tile-text: $dark-blue2;
$text-fields: $white;
$digit-display: $white;
