@import './../../styles/theme/_colours.scss';

.Tile {
  width: 20vw;
  height: 40vh;
  margin: auto;

  //Center vertically
  position: absolute;
  top: 40%;
  left: 40%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 0.5em;
  background: rgba(49, 55, 67, 0.6); //No variable as color used once
}
