.Screen {
  box-sizing: border-box;
  height: 85vh;

  // grid-column: 2/5;
  // grid-row-start: 1; Moved this to slideable container

  padding: 2em;
  padding-right: 3em;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1.5em;
}
