@import './../../styles/theme/_colours.scss';

.Dashboard {
  width: 80vw;
  height: 80vh;
  margin: auto;
  margin-top: 5em;
  border-radius: 0.5em;
  background: rgba(49, 55, 67, 0.4); //No variable as color used once
}
